/* Basic styling for the top bar */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:regular,700');

.company-name img {
  height: 50px; /* Adjust height as needed */
  margin-right: 10px; /* Add spacing between logo and text */
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Increased height */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.3)); /* Gradient effect */
    overflow: hidden;
    text-align: right;
    z-index: 999; /* Ensure the top bar is above other content */
    line-height: 80px; /* Vertically center contents */
  }
  
  /* Style the links inside the top bar */
  .top-bar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
    font-size: 45px; /* Increased font size */
  }
  
  /* Change the color of links on hover */
  .top-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style for the company name */
  .company-name {
    float: left;
    padding: 16px 20px;
    color: white;
    font-size: 55px; /* Increased font size */
    font-weight: bold;
  }
  
  body {
    background-image: url('w3.jpg'); /* Background image for the body */
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px; /* Adjust padding to accommodate the top bar height */
    color: white; /* Text color for the content */
    margin: 0; /* Remove default body margin */
    font-family: 'Amatic SC', sans-serif; /* Use Amatic SC font */
  }

  h1 {
    text-align: center;
    color: #4CAF50;
  }

  .game-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .game-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease-in-out;
  }

  .game-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: box-shadow 0.3s ease-in-out;
    position: relative; /* Required for absolute positioning of the glow */
  }

  .game-card:hover {
    box-shadow: 0 8px 15px rgb(28, 223, 233);
  }

  .game-card::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 5px;
    background-color: rgba(222, 4, 4, 0);
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
  }

  .game-card:hover::before {
    background-color: rgba(255, 255, 255, 0.5); /* Change the color and opacity of the glow */
  }

  .game-card a {
    text-decoration: none;
    color: #333;
    display: block;
  }

  .game-card h2 {
    margin-top: 0;
  }

  .game-card p {
    margin-bottom: 0;
  }
